@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/form-wizard.component.scss';

.custom-input {
  width: 200px; 
}
.custom-input-select{
  width: 250px;
}
.toast-top-right {
  top: 20px !important;  
}


.badge {
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  text-align: center;
}

.badge-success {
  background-color: #28a745;
  width: 150px;
}

.badge-warning {
  background-color: #ffc107;
  width: 150px;
}

.badge-danger {
  background-color: #dc3545;
  width: 150px;
}

