<div class="card">
  <div class="filter-section">
    <label for="month">Month</label>
    <select id="month" [(ngModel)]="selectedMonth" (change)="applyFilters()">
      <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
    </select>

    <label for="year">Year</label>
    <select id="year" [(ngModel)]="selectedYear" (change)="applyFilters()">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>

    <label for="client">Client</label>
    <select id="client" [(ngModel)]="selectedClient" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
    </select>

    <label for="lot">Lot</label>
    <select id="lot" [(ngModel)]="selectedLot" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let lot of lots" [value]="lot.id">{{ lot.name }}</option>
    </select>

    <label for="soustraitant">Soustraitant</label>
    <select id="soustraitant" [(ngModel)]="selectedSoustraitant" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let soustraitant of soustraitants" [value]="soustraitant.id">{{ soustraitant.fullName }}</option>
    </select>
  </div>

  <ngx-datatable
    [rows]="filteredImputations"
    [rowHeight]="50"
    class="bootstrap core-bootstrap"
    [limit]="20"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    [scrollbarH]="true">

    <ngx-datatable-column name="Date" prop="vehiculeRoute.date" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.vehiculeRoute?.date | date: 'dd/MM/yyyy' }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Vehicule" prop="vehiculeRoute.vehiculeGpsLocation.name" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.vehiculeRoute?.vehiculeGpsLocation?.name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Affaire" prop="affaire.code" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.affaire?.code }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Client" prop="client.name" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.client?.name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Lot" prop="lot.name" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.lot?.name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Soustraitant" prop="soustraitant.name" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.soustraitant?.fullName }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="% Imputation" prop="fillingPercentage" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.fillingPercentage }}%
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Observation" prop="observation" [width]="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.observation }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
